<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cars CRUD by k18</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {% load static %}
    <center>
    <img src="{% static "images/car-sales-logo.jpg" %}"
      style="width:720px; height:222px;"  align="absmiddle">
    </center>
  </head>
  <body>
    <div class="jumbotron container">
        {% block content %}


        {% endblock %}
      <br>
      <h5>coding by k18 :)</h5>
    </div>
  </body>
</html>
