<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cars CRUD by k18</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {% load static %}
      {% load humanize %}
    <center>
    <img src="{% static "images/car-sales-logo.jpg" %}"
      style="width:720px; height:222px;"  align="absmiddle">
    </center>
  </head>

  <body>
  {% if not next %}
    {% url 'index' as next %}
{% endif %}
    <div class="jumbotron">
      {% if user.is_authenticated %}
  Привет, {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
        {% block content %}


        {% endblock %}
      <br>
      <center>
      <h5>coding by k18 :)</h5>
      </center>
    </div>
  </body>
</html>
