{% extends 'cars/base.html' %}
{% block content %}
<center>
<h1>Welcome to CRUD CARS APP</h1>
<h2>Brand Detail</h2>
</center>
{% if cl %}
<ul>

{% for brand in cl %}

    <img src="{{brand.image.url}}" style="width: 220px; height: 140px;">


  <h4><li>Brand:   <b> {{brand.Brand}}</b> </li></h4>
  <h4><li>Brand id:   <b> {{brand.id}}</b> </li></h4>

    <p>
         <a class='btn btn-danger' href="{% url 'brand_delete' brand.id%}">Delete</a>
  <a class='btn btn-primary' href="{% url 'brand_update' brand.id%}">Update</a>
  <a class='btn btn-warning' href="{% url 'cars_create' %}">Add car</a>

    </p>
    <br>
   {% for car in clist %}
       {% if brand.id == car.brand_id %}
    <p><a href="{% url 'cars_detail' car.id%}"><li>Car model:    <b>{{car.modeli}}</b> </li></a>

    </p>

        {% endif %}
   {% endfor %}

{% endfor %}

</ul>
{% else %}
<p>There are no cars in the DB</p>
{% endif %}
<p>
  {% if ml > 0 %}
  {% else %}
  Please add a brand before adding a car
  {% endif%}
</p>
<br>
<p>
<a class='btn btn-primary' href="{% url 'brand_create'  %}">Add brand!</a>
<a class='btn btn-success' href="{% url 'brand_spisok'  %}">brand spisok</a>
<a class='btn btn-info' href="{% url 'index' %}">Home</a>
</p>

{% endblock %}
