{% extends 'cars/base.html' %}
{% block content %}

<h2>Car Detail</h2>
{% if cl %}
<ul>
  {% for car in cl %}
  {% if car.id == 1 %}
  <p><li>Car id:  {{car.id}}</li></p>
  <p><li>Car name:  {{car.modeli}}</li></p>
  <p><li>Car company name : {{car.brand}}</li></p>
  <p><li>Car probeg: {{car.probeg}} km</li></p>

  <p><li>Car production year: {{car.year}}</li></p>
  <p><li>Car price: {{car.price}}  $</li></p>
  <p><li>Car color: {{car.color}}</li></p>
  <p><li>Car engine: {{car.engine}}</li></p>
  <p><li>Car style : {{car.style}}</li></p>
  <p><li>Car fuel type: {{car.fuel_type}}</li></p>
  <p><li>Car likes: {{car.tlike}}</li></p>
  <p><li>Car rating : {{car.trating}}</li></p>
  <p><li>Car comment : {{car.comment}}</li></p>
  <a class='btn btn-primary' href="{% url 'cars_update' car.id %}">Update</a>
  <a class='btn btn-danger' href="{% url 'cars_delete' car.id %}">Delete</a>
  {% endif %}
  {% endfor %}
</ul>
{% else %}
<p>There are no cars in the DB</p>
{% endif %}
<p>
  {% if ml > 0 %}
  <a class='btn btn-primary' href="{% url 'cars_create' %}">Add car</a>
  {% else %}
  Please add a brand before adding a car
  {% endif%}
</p>
<p>
<a class='btn btn-primary' href="{% url 'brand_create'  %}">Add brand!</a>
<a class='btn btn-success' href="{% url 'brand_list'  %}">View brands</a>
<a class='btn btn-primary' href="{% url 'index' %}">Home</a>
</p>



{% endblock %}
