{% extends 'cars/base.html' %}
{% block content %}
{% load static %}
<center>
<h1>Welcome to CRUD CARS APP</h1>
<h2>Cars List</h2>
</center>
{% if page_obj %}

 <!-- Pagination -->
  <div class='pagination justify-content-center'>
      <span class='mx-1'>
    {% if page_obj.has_previous %}

              <a href="{% url 'index' %}">
            ⏮
        </a>
      </span>
<span class='mx-2'>
      <a href='{% url "index-by-page" page_obj.previous_page_number %}'>  ⋖️ </a>
    {% endif %}
</span>
    <span class='mx-1'>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
<span class='mx-2'>
    {% if page_obj.has_next %}
      <a href='{% url "index-by-page" page_obj.next_page_number %}' > ⋗️</a>
</span>
    <span class='mx-1'>
              <a href="{% url 'index-by-page' page_obj.paginator.num_pages %}">
           ⏭️
        </a>
    </span>
    {% endif %}


  </div>
  <!-- END Pagination -->

<br>
<ul>
  <div class="row">
    {% for car in page_obj %}

{% if car.image %}

    <div class="col-sm ">


<div class="row">
    <div class="col">
<img src="{{car.image.url}}" style="width: 220px; height: 140px;">
{% endif %}
    </div>
       <div class="w-100"></div>
<div class="col">

  <p><a href="{% url 'cars_detail' car.id%}"><li><b>{{car.brand}}:&nbsp;{{car.modeli}}</b></li></a></p>

</div>
    </div>
    </div>
      {% endfor %}
</div>
</ul>
{% else %}
<p>There are no cars in the DB</p>
{% endif %}
<p>
  {% if ml > 0 %}
  <a class='btn btn-warning' href="{% url 'cars_create' %}">Add car</a>
  {% else %}
  Please add a brand before adding a car
  {% endif%}
</p>
<p>
<a class='btn btn-primary' href="{% url 'brand_create'  %}">Add brand!</a>
<a class='btn btn-success' href="{% url 'brand_spisok'  %}">brand spisok</a>


</p>




  <!-- Pagination -->
  <div class='pagination justify-content-center'>
      <span class='mx-1'>
    {% if page_obj.has_previous %}

              <a href="{% url 'index' %}">
            ⏮
        </a>
      </span>
<span class='mx-2'>
      <a href='{% url "index-by-page" page_obj.previous_page_number %}'>  ⋖️ </a>
    {% endif %}
</span>
    <span class='mx-1'>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
<span class='mx-2'>
    {% if page_obj.has_next %}
      <a href='{% url "index-by-page" page_obj.next_page_number %}' > ⋗️</a>
</span>
    <span class='mx-1'>
              <a href="{% url 'index-by-page' page_obj.paginator.num_pages %}">
           ⏭️
        </a>
    </span>
    {% endif %}


  </div>
  <!-- END Pagination -->
{% endblock %}